In [127]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
os.chdir(os.path.dirname(os.getcwd()))
os.chdir(os.path.dirname(os.getcwd()))
os.chdir('Data')

In [128]:
a = pd.read_csv('Unemployment.csv')
a.columns = ['FIPS', 'State', 'County', '2000', '2001', '2002', '2003', '2004', '2005', '2006',
            '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
            '2018', '2019', '2020']
b = pd.melt(a, id_vars = ['FIPS', 'State', 'County'], value_vars = ['2000', '2001', '2002', '2003', '2004', '2005', '2006',
            '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017',
            '2018', '2019', '2020'])
b.columns = ['FIPS', 'State', 'County', 'Year', 'Unemployment_rate']
b.to_csv('unemployment_clean.csv', index = False)

In [129]:
df = pd.read_csv('unemployment_clean.csv')
df = df.drop('State', axis = 1)
df.columns = ['County Code', 'County', 'Year', 'Unemployment_rate']
unemploy = df[['County Code', 'Year', 'Unemployment_rate']]
od_deaths_df = pd.read_csv('od_deaths.csv')
opioid_df = pd.read_csv('opioid_dispense.csv')
dispenses = opioid_df[['Year', 'FIPS', 'dispenserate100']]
dispenses.columns = ['Year', 'County Code', 'Dispense_rate']

In [132]:
eth_age = pd.read_csv('ethnicity_age.csv')
eth_age2 = eth_age.drop(['State', 'County', 'COUNTY', 'STATE'], axis = 1)
eth_age3 = eth_age2.rename(columns = {'County_Code': 'County Code'})

,SUMLEV,Year,AGEGRP,TOT_POP,TOT_MALE,TOT_FEMALE,WA_MALE,WA_FEMALE,BA_MALE,BA_FEMALE,...,AA_FEMALE,NA_MALE,NA_FEMALE,TOM_MALE,TOM_FEMALE,NH_MALE,NH_FEMALE,H_MALE,H_FEMALE,County Code
0,50,2010.0,0,54773,26672,28101,21359,22061,4596,5154,...,296,27,19,372,437,25980,27480,692,621,1001
1,50,2010.0,1,3575,1863,1712,1415,1314,356,319,...,15,0,0,76,62,1778,1653,85,59,1001
2,50,2010.0,2,3964,1984,1980,1506,1517,398,369,...,22,1,4,49,62,1916,1908,68,72,1001
3,50,2010.0,3,4292,2163,2129,1657,1621,427,409,...,19,4,1,39,66,2098,2064,65,65,1001
4,50,2010.0,4,4229,2182,2047,1601,1551,497,426,...,16,4,2,42,46,2125,1996,57,51,1001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596975,50,2019.0,14,499,280,219,256,203,0,1,...,12,0,0,3,3,276,214,4,5,56045
596976,50,2019.0,15,352,180,172,173,169,0,0,...,1,0,0,3,1,176,170,4,2,56045
596977,50,2019.0,16,229,107,122,105,120,0,0,...,0,0,0,2,0,105,122,2,0,56045
596978,50,2019.0,17,198,82,116,80,115,0,0,...,0,0,0,1,0,80,115,2,1,56045
596979,50,2019.0,18,200,72,128,70,125,0,0,...,1,0,0,1,1,71,126,1,2,56045

In [137]:
merged = od_deaths_df.merge(unemploy, on = ['County Code', 'Year'], how = 'left')
merged2 = merged.merge(dispenses, on = ['County Code', 'Year'], how = 'left')
merged3 = merged2.merge(eth_age3, on = ['County Code', 'Year'], how = 'left')
merged3.to_csv('od_deaths_merged.csv', index = False)